@keyframes blink-critical {
    to {
        /*color: @white;*/
        background-color: @critical;
    }
}

@define-color black     #11111b;
@define-color red       #f38ba8;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color blue      #89b4fa;
@define-color purple    #cba6f7; /* idk if mauve is the right color hehe */
@define-color aqua      #a6e3a1;
@define-color pink      #f5c2e7;
@define-color gray      #1e1e2e;
@define-color white     #cdd6f4;
@define-color bg2       #181825;
@define-color surface0  #313244;

@define-color warning   @yellow;
@define-color critical  @red;
@define-color mode      @black;
@define-color unfocused @bg2;
@define-color focused   @pink;
@define-color inactive  @purple;
@define-color sound     @purple;
@define-color network   @pink;
@define-color memory    @aqua;
@define-color cpu       @red;
@define-color layout    @yellow;
@define-color battery   @yellow;
@define-color tray      @bg2;
@define-color time      @white;

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    text-shadow: none;
    icon-shadow: none;
}

/* The whole bar */
#waybar {
    /* background: rgba(30, 30, 46, 100); */
    /* 1e1e2e */
    background: @bg2;
    color: @white;
    font-size: 15px;
    /* font-size: 15.5; */
    font-family: "fira code nerd font";
    /* font-family: "fira code"; */
}

/* Each module */
#custom-user,
#wireplumber,
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#scratchpad,
#mpris {
    padding-left: 8pt;
    padding-right: 8pt;
}

#scratchpad {
    background: @surface0;
}

/* Each critical module */
/* #mode */
/* #battery.critical.discharging { */
/* { */
    /* animation-timing-function: cubic-bezier(1, 0, 0, 1); */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
    /* animation-name: blink-critical; */
    /* animation-duration: 1s; */
/* } */

/* each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#battery.warning.discharging {
    color: @warning;
}

/* and its respective critical */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.warning.critical {
    color: @red;
}

/* Current sway mode (resize etc) */
#mode {
    color: @white;
    background: @mode;
}

/* Workspaces stuff */
#workspaces button {
    /*font-weight: bold;*/
    padding-left: 2pt;
    padding-right: 2pt;
    color: @white;
    background: @surface0;
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
    color: @inactive;
}

/* Active (on focused output) */
#workspaces button.focused {
    font-weight: bold;
    color: @focused;
}

/* Contains an urgent window */
#workspaces button.urgent {
    color: @red;
}

/* Style when cursor is on the button */
#workspaces button:hover {
    color: @pink;
}

#window {
    /* window really needs these */
    padding-left: 15px;
    padding-right: 15px;
    background: @surface0;
}

#mpris {
    min-width: 40px;
}
#mpris.stopped {
    min-width: 40px;

    /* padding-left: 15px; */
    /* padding-right: 15px; */

    padding-left: 8pt;
    padding-right: 8pt;
}

/* #window, */
#custom-user,
#wireplumber,
#network,
#memory,
#cpu,
#battery,
#tray,
#clock.time,
#mpris,
#temperature {
    color: @white;
    background: @surface0;
}

#custom-ws-arrow-dark-window,
#custom-ws-arrow-dark,
#custom-arrow-dark-mpris,
#custom-ws-arrow-dark-mpris,
#custom-arrow-dark {
    color: @surface0;
}

#custom-ws-arrow-light-window,
#custom-ws-arrow-light,
#custom-arrow-light {
    color: rgba(30, 30, 46, 100);
    color: @bg2;
    background: @surface0;
}

/* window#waybar.empty #window #custom-ws-arrow-dark-window #custom-ws-arrow-light-window { */
/* hide entire module if nothing is shown */
window#waybar.empty #window,
window#waybar.empty #custom-ws-arrow-dark-window,
window#waybar.empty #custom-ws-arrow-light-window {
    all: unset; /* possibly. might fix desktop gtk?
                 * if not, just find the default styles instead
                 * of the catppuccin ones and maybe it'll work */
    color: transparent;
    background: transparent;
    margin: 0;
    padding: 0;
    min-width: 0;
}

#mpris.disconnected {
    background: white;
    padding: 42px;
}

